@font-face {
  font-family: "Josefin Sans";
  src: local("JosefinSans-Regular"),
    url("../fonts/JosefinSans-Regular.woff2") format("woff2"),
    url("../fonts/JosefinSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darker Grotesque";
  src: local("DarkerGrotesque-Medium"),
    url("../fonts/DarkerGrotesque-Medium.woff2") format("woff2"),
    url("../fonts/DarkerGrotesque-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darker Grotesque";
  src: local("DarkerGrotesque-SemiBold"),
    url("../fonts/DarkerGrotesque-SemiBold.woff2") format("woff2"),
    url("../fonts/DarkerGrotesque-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darker Grotesque";
  src: local("DarkerGrotesque-Regular"),
    url("../fonts/DarkerGrotesque-Regular.woff2") format("woff2"),
    url("../fonts/DarkerGrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #121521;
  color: #b2b2d3;
}

.container {
  width: 1242px;
  margin: 0 auto;
}

.openair {
  margin-bottom: 120px;
}

.section-cover {
  overflow: hidden;
}

.container h2 {
  color: #fff;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
}

.container h3 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
}

.container p {
  color: #b2b2d3;
}

.d-flex {
  display: flex;
}

.d-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
}

.jc-sb {
  justify-content: space-between;
}

.jc-rt {
  justify-content: right;
}

.ai-c {
  align-items: center;
}

.header__menu {
  height: 140px;
}

.header__nav {
  padding-left: 0;
}

.header__nav ul {
  list-style-type: none;
}

.mainmenu__item {
  margin-right: 42px;
}

.mainmenu__item:last-child {
  margin-right: 0;
}

.mainmenu__item a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.mainmenu__item a:hover {
  color: #b2b2d3;
}

.section-cover__bannercnt {
  width: 530px;
  flex-shrink: 0;
}

.section-cover__text {
  font-size: 32px;
}

.section-cover__title {
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 0 10px;
}

.section-cover__title span {
  font-size: 20px;
  display: block;
  color: #b2b2d3;
  font-family: "Darker Grotesque", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 40px;
}

.section-cover__actions {
  margin-top: 100px;
  display: flex;
}

.section-cover__actions .button:not(:last-child) {
  margin-right: 30px;
}

.button {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  text-decoration: none;
  padding: 0 40px;
  font-size: 17px;
  letter-spacing: 0.08em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px dotted #ffffff;
}

.button--primary {
  background-color: #40467c;
  color: #ffffff;
}

.button--primary:hover {
  max-width: inherit;
  background-color: #51578c;
}

.button--secondary {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.button--secondary:hover {
  background-color: #ffffff;
  color: #141923;
}

.section-benefits__video {
  width: calc(50% - 15px);
  flex-shrink: 0;
}

.section-benefits__video-link {
  display: block;
  height: 100%;
}

.section-benefits__video img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.section-benefits__about .page-section__title {
  margin-bottom: 30px;
}

.section-benefits__about {
  background-color: #1b213a;
  flex-grow: 1;
  padding: 70px 30px;
}

.section-benefits__item h3 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 20px;
}

.section-benefits__item p {
  margin: 0;
}

.video {
  margin-bottom: 120px;
}

.videobox {
  position: relative;
}

.videobox::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    to top,
    rgba(20, 25, 35, 0.6) 30%,
    rgba(20, 25, 35, 0) 100%
  );
}

.gallery {
  margin-bottom: 120px;
}

.gallery__title span {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #b2b2d3;
}

.gallery__title span span {
  color: #ffffff;
}

.gallery__grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.gallery__item {
  position: relative;
}

.gallery__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(20, 25, 35, 0.1),
    rgba(20, 25, 35, 0.1)
  );
}

.gallery_bigimage {
  border: 1px solid #000000;
}

.location {
  margin-bottom: 120px;
}

.location__title .gallery__title {
  height: 48px;
  margin-bottom: 50px;
}

.location__city {
  height: 38px;
}

.location__city p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #b2b2d3;
}

.location__name {
  height: 27px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
  margin-top: 20px;
}

.location__name p {
  color: #fff;
}

.location__clubimg {
  position: relative;
}

.location__clubimg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(20, 25, 35, 0.2),
    rgba(20, 25, 35, 0.2)
  );
}

.location__stars {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.location__price {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #b2b2d3;
}

.location__price span {
  color: #fff;
}

.location__gradient {
  position: relative;
}

.location__gradient::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(20, 25, 35, 0.8),
    rgba(20, 25, 35, 0.8)
  );
}

.button--position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
}

.navigation__actions {
  display: flex;
}

.buttonnav {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  text-decoration: none;
  padding: 0 20px;
  font-size: 17px;
  letter-spacing: 0.08em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-left: 30px;
}

.buttonnav:focus {
  outline: none;
}

.buttonnav:focus-visible {
  outline: 1px dotted #ffffff;
}

.button--small {
  background-color: transparent;
  color: #40467c;
  border: 2px solid #40467c;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.button--small:hover {
  background-color: #51578c;
  color: #fff;
}
